{% block export %}

    {% if 'export' in builder.Actions|keys %}
    protected function expToCsv($keys = null, $arrayCollection = null)
    {
        header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
        header('Content-Description: File Transfer');
        header("Content-type: text/csv");
        header("Content-Disposition: attachment; filename={{ builder.BaseGeneratorName }}.csv");
        header("Expires: 0");
        header("Pragma: public");

        // открыть файл для записи
        $fp = @fopen('php://output', 'w');
        // пишем в начало файла 3 байта(чтобы файл был в UTF-8)
        fwrite($fp, "\xEF\xBB\xBF", 3);

        if ($keys == null || $arrayCollection == null) {
            $data = $this->getQuery()->getArrayResult();

            $columns = array_keys($data[0]);

            fputcsv($fp, $columns, ';', $enclosure = '"');

            foreach ($data as $value) {
                $row = array();
                foreach ($columns as $column) {
                    if (is_object($value[$column])) {
                        if ($value[$column] instanceof \DateTime) {
                            $row[] = $value[$column]->format('Y-m-d');
                        }
                    } else {
                        if (is_array($value[$column])) {
                            $array = $value[$column];
                            if (count($array) > 0) {
                                while (true) {
                                    if (!isset($array["id"])) {
                                        $array = $array[0];
                                    } else {
                                        $row[] = $array["id"];
                                        break;
                                    }
                                }
                            }
                        } else {
                            $row[] = $value[$column];
                        }
                    }
                }
                if ($row) {
                    fputcsv($fp, $row, ';', $enclosure = '"');
                }
            }
        } else {
            fputcsv($fp, $keys, ';');
            foreach ($arrayCollection as $oneArray) {
                foreach ($oneArray as $key => $oneItem) {
                    if ($oneItem instanceof \DateTime) {
                        $oneArray[$key] = $oneItem->format("d.m.Y");
                    }
                }
                fputcsv($fp, $oneArray, ';');
            }
        }
        fclose($fp);
        exit;
    }

    /**
     * Export
     * @Route("/export", name="{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_export")
     */
    public function executeExport()
    {
        $this->expToCsv();
    }
    {% endif %}

{% endblock %}