{% block form_actions %}
{{ echo_block("form_actions") }}
    {% if builder.Actions|length > 0 %}
        {% for action in builder.Actions %}
            {{ echo_block("form_actions_" ~ action.name|replace({'.': '_', '-': '_'})) }}
                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials', builder.ModelClass) ) }}
                {% endif %}

                {% if action.submit %}
                    <input type="submit" name="{{ action.name }}" class="{{ action.icon ? action.icon : 'i_' ~ action.name }} {{ action.class|default('') }}"
                {% else %}
                    {% if action.params %}
                        <a class="{{ action.icon ? action.icon : 'i_' ~ action.name }} {{ action.class|default('') }}" href="{{ echo_path((action.route ? action.route : builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name), echo_twig_assoc(action.params)) }}"
                    {% else %}
                        <a class="{{ action.icon ? action.icon : 'i_' ~ action.name }} {{ action.class|default('') }}" href="{{ echo_path((action.route ? action.route : builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name)) }}"
                    {% endif %}
                {% endif %}

                {%- if action.confirm %}onclick='return confirm("{{ echo_trans(action.confirm) }}");'{% endif %}

                {% if action.submit %}
                    value="{{ echo_trans(action.label) }}" />
                {% else %}
                    >{{ echo_trans(action.label) }}</a>
                {% endif %}

                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_endif () }}
                {% endif %}
            {{ echo_endblock("form_actions_" ~ action.name|replace({'.': '_', '-': '_'})) }}
        {% endfor -%}
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}