{% block form_fieldset %} 
{{ echo_block("form_fieldset_" ~ fieldset|classify|replace({'.': '_'})) }}
    {% spaceless %}
        {% set fields = [] %}
        {% for key, rows in builder.fieldsets[fieldset] %}
            {% for field in rows %}
                {% set fields = fields|merge([field]) %}
            {% endfor %}
        {% endfor %}
    {% endspaceless -%}
    {{ echo_set('fields', '["' ~ fields|join('","') ~ '"]', false) }}
    {{ echo_set('empty', 'true', false) }}
    {{ '{% for field in fields if (form[field] is defined) %}' }}
        {{ echo_set('empty', 'false', false) }}
    {{ echo_endfor() }}
    {{ echo_if('not empty') }}
        <fieldset class="form_block form_fieldset_{{ fieldset|classify|replace({'.': '_'}) }} fieldset_tabbable">
            {{ echo_block("form_fieldset_" ~ fieldset|classify|replace({'.': '_'}) ~ '_label') }}
                {% if "NONE" != fieldset %}
                <legend><span>{{ echo_trans(fieldset,{}, i18n_catalog|default("Admin") ) }}</span></legend>
                {% endif %}
            {{ echo_endblock("form_fieldset_" ~ fieldset|classify|replace({'.': '_'}) ~ '_label') }}

            {{ echo_block("form_fieldset_" ~ fieldset|classify|replace({'.': '_'}) ~ '_content') }}
                {% for key, rows in builder.fieldsets[fieldset] %}
                    {% for field in rows %}
                        {% if builder.Columns[field].credentials %}
                            {{ echo_if_granted(builder.Columns[field].credentials, builder.ModelClass) }}
                        {% endif %}

                        {{ echo_block ("form_" ~ field) }}
                            {{ echo_if ("form." ~ field ~ " is defined") }}
                                {{ echo_twig ("form_row(form." ~ field ~ ", {'formType': '" ~ builder.Columns[field].formType ~ "', 'icon': '" ~ builder.Columns[field].icon ~ "'})") }}
                            {{ echo_endif () }}
                        {{ echo_endblock ("form_" ~ field) }}

                        {% if builder.Columns[field].credentials %}
                            {{ echo_endif () }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {{ echo_endblock("form_fieldset_" ~ fieldset|classify|replace({'.': '_'}) ~ '_content') }}
        </fieldset>
    {{ echo_endif () }}
{{ echo_endblock("form_fieldset_" ~ fieldset|classify|replace({'.': '_'})) }}
{% endblock %}