{% use '../CommonAdmin/security_action.php.twig' %}

{% block update_use %}
{% endblock %}

{% block update %}

    public function updateAction($pk)
    {
        ${{ builder.ModelClass }} = $this->getObject($pk);

        {{ block('security_action_with_object') }}

        if (!${{ builder.ModelClass }}) {
            throw new NotFoundHttpException("The {{ model }} with {{ builder.getFieldGuesser().getModelPrimaryKeyName(model) }} $pk can't be found");
        }

        $this->preBindRequest(${{ builder.ModelClass }});
        $form = $this->createForm($this->getEditType(), ${{ builder.ModelClass }});
        $form->bind($this->get('request'));

        if ($form->isValid()) {
            try {
                {% if concurrency_lock -%}
                $versions = $this->getVersions();
                {% block checkVersion %}// ORM job{% endblock %}
                {%- endif %}

                $this->preSave($form, ${{ builder.ModelClass }});
                $this->saveObject(${{ builder.ModelClass }});
                $this->postSave($form, ${{ builder.ModelClass }});

                $this->get('session')->getFlashBag()->add('success', $this->get('translator')->trans("{{ messages.success|default("action.object.edit.success") }}", array(), 'Admingenerator') );

                if ($this->get('request')->request->has('save-and-add')) {
                    return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_new" ));
                } elseif ($this->get('request')->request->has('save-and-list')) {
                    return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_list" ));
                } else {
                    return new RedirectResponse($this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_edit", array('pk' => $pk) ));
                }
            {% if concurrency_lock -%}
            } catch ({% block lockException %}// ORM job{% endblock %} $e) {
                $this->get('session')->getFlashBag()->add(
                    'warning',
                    $this->get('translator')->trans(
                        "{{ messages.locked|default("action.object.edit.locked") }}",
                        array(
                            '%path%' => $this->generateUrl("{{ builder.routePrefixWithSubfolder }}_{{ bundle_name }}{{ builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" }}_show", array('pk' => $pk) )
                        ),
                        'Admingenerator'
                    )
                );
                $this->onException($e, $form, ${{ builder.ModelClass }});
                $this->saveVersion($pk, ${{ builder.ModelClass }}->getVersion());
            {% endif %}
            } catch (\Exception $e) {
                $message = $this->get('translator')->trans("{{ messages.error|default("action.object.edit.error") }}", array(), 'Admingenerator');
                $this->get('session')->getFlashBag()->add('error', $message);
                $this->onException($e, $form, ${{ builder.ModelClass }});
            }
        } else {
            $this->get('session')->getFlashBag()->add('error',  $this->get('translator')->trans("{{ messages.error|default("action.object.edit.error") }}", array(), 'Admingenerator') );
        }

        return $this->render('{{ builder.namespacePrefixForTemplate }}{{ bundle_name }}:{{ builder.BaseGeneratorName }}Edit:index.html.twig', $this->getAdditionalRenderParameters(${{ builder.ModelClass }}) + array(
            "{{ builder.ModelClass }}" => ${{ builder.ModelClass }},
            "form" => $form->createView(),
        ));
    }

    /**
     * This method is here to make your life better, so overwrite it
     *
     * @param \Exception $exception throwed exception
     * @param \Symfony\Component\Form\Form $form the valid form
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function onException(\Exception $exception, \Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
        if ($this->container->get('kernel')->getEnvironment() == 'dev') {
            $this->get('session')->getFlashBag()->add('error', $exception->getMessage());
        }
        
        if ($this->container->getParameter('kernel.debug')) {
            throw $exception;
        }
    }

    /**
     * This method is here to make your life better, so overwrite  it
     *
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function preBindRequest(\{{ model }} ${{ builder.ModelClass }})
    {
    }

    /**
     * This method is here to make your life better, so overwrite  it
     *
     * @param \Symfony\Component\Form\Form $form the valid form
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function preSave(\Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
    }

    /**
     * This method is here to make your life better, so overwrite  it
     *
     * @param \Symfony\Component\Form\Form $form the valid form
     * @param \{{ model }} ${{ builder.ModelClass }} your \{{ model }} object
     */
    public function postSave(\Symfony\Component\Form\Form $form, \{{ model }} ${{ builder.ModelClass }})
    {
    }
{% endblock %}
