{% extends '../CommonAdmin/ListAction/ListBuilderAction.php.twig' %}
{% block pager_adapter -%}
use Pagerfanta\Adapter\DoctrineODMMongoDBAdapter as PagerAdapter;
{% endblock %}

{% block addJoinFor '' %}

{% block setFilters -%}
    /**
     * Store in the session service the current filters
     *
     * @param array the filters
     */
    protected function setFilters($filters)
    {
        {% for filter in builder.filters.display -%}
        {%- if 'document' == builder.getFieldGuesser().getDbType(model, filter) or 'collection' == builder.getFieldGuesser().getDbType(model, filter) -%}
            $filters['{{ filter }}'] = $this->setFilter{{ filter|capitalize }}($filters);
        {% endif -%}
        {%- endfor %}

        $this->get('session')->set('{{ namespace_prefix }}\{{ bundle_name }}\{{ builder.BaseGeneratorName }}List\Filters', $filters);
    }
{% for filter in builder.filters.display -%}
{% if 'document' == builder.getFieldGuesser().getDbType(model, filter) or 'collection' == builder.getFieldGuesser().getDbType(model, filter) %}

    /**
     * Set filters for {{ filter }} field
     * @param array $filters
     * @return array
     */
    protected function setFilter{{ filter|capitalize }}($filters)
    {
        {% set filterModel = builder.getFieldGuesser().getModelType(model, filter) -%}
        if (isset($filters['{{ filter }}'])) {
            return array(
                'id' => $filters['{{ filter }}']->get{{ builder.getFieldGuesser().getModelPrimaryKeyName(filterModel)|capitalize }}(),
                'documentName' => '{{ filterModel }}'
            );
        }
    }

{% endif %}
{% endfor -%}
{% endblock setFilters -%}

{% block getFilters -%}
    /**
     * Get filters from session
     */
    protected function getFilters()
    {
        $filters = $this->get('session')->get('{{ namespace_prefix }}\{{ bundle_name }}\{{ builder.BaseGeneratorName }}List\Filters', array());

        {%- for filter in builder.filters.display -%}
            {%- if 'document' == builder.getFieldGuesser().getDbType(model, filter) or 'collection' == builder.getFieldGuesser().getDbType(model, filter) -%}
        if ($filter = $this->getFilter{{ filter|capitalize }}($filters)) {
            $filters['{{ filter }}'] = $filter;
        }
            {%- endif %}

        {% endfor %}

        return $filters;
    }

{%- for filter in builder.filters.display %}
    {%- if 'document' == builder.getFieldGuesser().getDbType(model, filter) or 'collection' == builder.getFieldGuesser().getDbType(model, filter) %}


    /**
     * Get filter for {{ filter }} field
     * @param array $filters
     * @return mixed
     */
    protected function getFilter{{ filter|capitalize }}($filters)
    {
        if (isset($filters['{{ filter }}'])) {
            return $this->getDoctrineMongoDB()->getRepository($filters['{{ filter }}']['documentName'])->find($filters['{{ filter }}']['id']);
        }
    }
    {%- endif %}
{% endfor %}


{% endblock %}

{% block getQuery -%}
    /**
     * Get query
     * @return \Doctrine\ODM\MongoDB\Query\Builder
     */
    protected function getQuery()
    {
        $query = $this->buildQuery();

        $this->processQuery($query);
        $this->processSort($query);
        $this->processFilters($query);
        $this->processScopes($query);

        return $query;
    }

    /**
     * Build query
     * @return \Doctrine\ODM\MongoDB\Query\Builder
     */
    protected function buildQuery()
    {
        return $this->getDocumentManager()
            ->createQueryBuilder('{{ model }}');
    }

{% endblock %}

{% block processSort -%}
    protected function processSort($query)
    {
        if ($this->getSortColumn()) {
            if (!strstr($this->getSortColumn(), '.')) { //direct column
                $query->sort($this->getSortColumn(), $this->getSortOrder());
            } else {
                /* TODO FOR MONGO
                list($table, $column) = explode('.', $this->getSortColumn(), 2);
                $this->addJoinFor($table, $query);
                $query->sort($this->getSortColumn(), $this->getSortOrder());*/
            }
        }
    }
{% endblock %}

{% block getFilterForm -%}
    protected function getFilterForm()
    {
        $filters = $this->getFilters();

        {%- for filter in builder.filters.display -%}
        {%- if 'document' == builder.getFieldGuesser().getDbType(model, filter) or 'collection' == builder.getFieldGuesser().getDbType(model, filter) %}
        {% set filterModel = builder.getFieldGuesser().getModelType(model, filter) %}

        if (isset($filters['{{ filter }}'])) {
            $this->getDocumentManager()->getUnitOfWork()->registerManaged($filters['{{ filter }}'], $filters['{{ filter }}']->get{{ builder.getFieldGuesser().getModelPrimaryKeyName(filterModel)|capitalize }}(), array());
        }

        {%- endif -%}
        {% endfor %}


        return $this->createForm($this->getFiltersType(), $this->getFilters());
    }
{% endblock %}

{% block processFilters -%}
    /**
     * Add filter conditions to query
     * @param $query \Doctrine\ODM\MongoDB\Query\Builder
     */
    protected function processFilters($query)
    {
        $filterObject = $this->getFilters();

        $queryFilter = $this->getQueryFilter();
        $queryFilter->setQuery($query);

        {% for filter in builder.filterColumns -%}
        $this->processFilter{{ filter.name|capitalize }}($queryFilter, $filterObject);
        {% endfor %}

    }

{% for filter in builder.filterColumns %}
    /**
     * Add filter condition by {{ filter.name }}
     * @param \Admingenerator\GeneratorBundle\QueryFilter\QueryFilterInterface $queryFilter
     * @param array $filterObject
     */
    protected function processFilter{{ filter.name|capitalize }}($queryFilter, $filterObject)
    {
        if (isset($filterObject['{{ filter.name }}']) && null !== $filterObject['{{ filter.name }}']) {
            $queryFilter->add{{ filter.dbType|classify }}Filter('{{ filter.filterOn }}', $filterObject['{{ filter.name }}']);
        }
    }

{% endfor %}
{% endblock %}

{% block processScopes -%}
    protected function processScopes($query)
    {
    {% if scopes is defined -%}
        $scopes = $this->getScopes();

        $queryFilter = $this->getQueryFilter();
        $queryFilter->setQuery($query);


        {% for groupName, group in scopes -%}
            {%- for scopeName, params in group %}

        if (isset($scopes['{{ groupName }}']) && $scopes['{{ groupName }}'] == '{{ scopeName }}') {
            {% if params["filters"] is defined -%}
                {%- for filter, filterParams in params["filters"] -%}
                {%- if filter|is_numeric -%}
                $this->scope{{ filterParams|classify }}($queryFilter);
                {%- else -%}
                $queryFilter->addDefaultFilter('{{ filter }}', {{ filterParams|as_php }});
                {%- endif -%}
                {%- endfor -%}
            {%- endif %}

        }
            {% endfor -%}
        {%- endfor -%}
    {%- endif -%}
    }

    {% if scopes is defined -%}
    {% for groupName, group in scopes -%}
        {%- for scopeName, params in group %}
            {% if params["filters"] is defined -%}
            {%- for filter, filterParams in params["filters"] -%}
                {%- if filter|is_numeric -%}
    /**
     * Add the filters to the query for {{ groupName }} => {{ scopeName }}
     *
     * @param queryFilter the queryFilter
     */
    protected function scope{{ filterParams|classify }}($query)
    {
    }
                {%- endif -%}
            {%- endfor -%}
            {%- endif -%}
        {% endfor -%}
    {%- endfor -%}
    {%- endif %}
{% endblock %}

{% block getQueryFilter -%}
    /**
     * @return \Admingenerator\GeneratorBundle\QueryFilter\QueryFilterInterface
     */
    protected function getQueryFilter()
    {
        return $this->get('admingenerator.queryfilter.doctrine_odm');
    }
{% endblock %}